/* Mixin's */
html {
  background-image: url("../img/retina_wood.png");
  animation: entrance 0.5s linear 0s 1 normal both;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  color: #fff;
  text-align: center;
}
h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  text-transform: uppercase;
}
#minutes,
#seconds,
#tens {
  font-size: 2em;
}
button {
  border-radius: 5px;
  background: #333;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  left: 40%;
  position: relative;
}
a {
  color: white;
  text-decoration: none;
}
.wrapper {
  display: block;
}
.controle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#container {
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding-left: 20px;
}
#container:after {
  content: "";
  display: table;
  clear: both;
}
[data-view="card"] {
  transform: rotateY(180deg);
  width: 70px;
  height: 110px;
  border: solid 1px #d3cece;
  border-radius: 5px;
  float: left;
  margin: 10px;
  cursor: pointer;
  background: linear-gradient(
      135deg,
      #333 22px,
      #fff 22px,
      #fff 24px,
      transparent 24px,
      transparent 67px,
      #fff 67px,
      #fff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #333 22px,
        #fff 22px,
        #fff 24px,
        transparent 24px,
        transparent 67px,
        #fff 67px,
        #fff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #333;
  background-size: 64px 128px;
}
.flipped {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}
.reverse {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.correct {
  opacity: 0.9;
  cursor: default;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

img {
  transform: rotateY(180deg);
  margin: 0px 2px 2px 0px;
  width: 70px;
  height: 110px;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  background-color: #333;
}

img.reverse {
  display: none;
}

.easy-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, minmax(min(10rem, 100%), 1fr));
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.pop-up {
  width: 40%;
  height: 30%;
  background-color: white;
  color: #333;
  position: absolute;
  margin: 5% auto;
  padding: 5%;
  border-radius: 10px;
  left: 0;
  right: 0;
  z-index: 3;
}

.action {
  position: relative;
  top: 60%;
  display: flex;
  justify-content: center;
}
.button {
  margin: 0 30%;
  padding: 10px;
  border-radius: 15px;
  background-color: #ff8566;
}

.close-button {
  transition: all 0.5s ease;
  position: absolute;
  background-color: #ff9980;
  padding: 1.5px 7px;
  left: 0;
  margin-left: -10px;
  margin-top: -11.5%;
  border-radius: 50%;
  border: 2px solid #fff;
  color: white;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.close-button:hover {
  background-color: tomato;
  color: #fff;
}

.display {
  display: none;
}

#help {
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  margin: 10px;
  margin-top: 50px;
  padding: 0;
  background: none;
  border: none;
}

/* -------------------------------- 

popup 

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  margin: 4em auto;
  background: #fff;
  color: #000;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 0.25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 0.25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}
